# build output
target/

# IDE
.vscode/
.idea/
*.launch
*.sublime-workspace
*.iml
*.swp
.history/

# macOS junk
.DS_Store
Thumbs.db

# Persistence with passwords, please provide your own. See preset-file                                                  
src/main/resources/META-INF/persistence.xml
